.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 55px;
}

.background-shape {
  border-radius: 35px;
  background: $col_blue_main;
  //background-color: #7a7a7b;
  padding: 10px;
  color: white;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}
